@page
@model UltraCoolBooks.Pages.Admin.Dashboard.IndexModel
@{
	ViewData["Title"] = "Index";
	Layout = "../_LayoutAdmin.cshtml";

}
<h1>Statistics</h1>
<form method="POST" asp-page-handler="DateSelect">
	<input type="date" id="startDate" name="sd"
		   value="" />

	<input type="date" id="endDate" name="ed"
		   value="" />

	<input type="submit" value="Select" />
</form>
<hr />


<div >
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <div>
	<canvas id="myChart2"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
	const ctx = document.getElementById('myChart2');

	new Chart(ctx, {
		type: 'bar',
		data: {
			labels:
				[
	@foreach (var d in Model.dates)  //alldate behöver vara en array inte en lista
	{
		<text>@d.Day, </text>
	}
				],
			datasets:
				[{
					label: 'Number of reviews',
					data: [63,69,64,72,75,78,89
	
		],
					borderWidth: 1
				}]
		},
		options: {
			scales: {
				y: {
					beginAtZero: true
				}
			}
		}
	});
</script>