@using Microsoft.AspNetCore.Identity
@inject SignInManager<UltraCoolUser> SignInManager
@inject UserManager<UltraCoolUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ultra Cool Books</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SuperCoolBooks.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/admin.css" />
</head>
<body class="container-fluid p-0">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 p-4 sticky-top">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Ultra Cool Books</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Index">View Frontend</a>
                    </li>
                    <li>
                        <p class="text-light">  __  </p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Admin/Dashboard/Index">Dashboard</a>
                    </li>
                    @if(User.IsInRole("Administrator"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Admin/Book/Index">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Admin/Author/Index">Authors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Admin/Genre/Index">Genres</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Admin/User/Index">Users</a>
                        </li>
                    }
                    
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Admin/Review/Index">Reviews</a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Admin/AuthorQuote/Index">Author Quotes</a>
                    </li>
                   
                </ul>
                <partial name="_LoginPartialAdmin" />
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SuperCoolBooks - <a asp-area="" asp-page="/">Super Cool Books</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>