@page
@model SuperCoolBooks.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin Home";
    Layout = "_LayoutAdmin.cshtml";

}
<div class="container-fluid" style="width:100%" >
    <div class="row">
        <div class="col-sm">
            bla
        </div>
        <div class="col-xl">Content</div>
    </div>
    
</div>
