@page
@model UltraCoolBooks.Pages.Books.EditReviewModel
@{
    ViewData["Title"] = "Edit review";
}

<h1>Edit review</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-asp-validation-summary="ModelOnly" class="text-danger"</div>
                <input type="hidden" asp-for="Review.ReviewId" />
                <input type="hidden" asp-for="Review.UserId"/>
                <input type="hidden" asp-for="Review.Created"/>
                <input type="hidden" asp-for="Review.BookId"/>
                <input type="hidden" asp-for="Review.IsDeleted"/>
                <input type="hidden" asp-for="Review.Likes"/>
                <input type="hidden" asp-for="Review.Downvotes"/>
                <input type="hidden" asp-for="Review.Upvotes"/>
                
                <div class="form-group">
                    <label asp-for="Review.Title" class="control-label"></label>
                    <input asp-for="Review.Title" class="form-control" />
                    <span asp-validation-for="Review.Title" class="text-danger"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="Review.ReviewText" class="control-label"></label>
                    <textarea asp-for="Review.ReviewText" class="form-control" rows="11" placeholder="Enter text here..." id="reviewTextArea" maxlength="1000"></textarea>
                    <div id="charCount"></div>
                    <span asp-validation-for="Review.ReviewText" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label asp-for="Review.Rating" class="control-label"></label>
                <select asp-for="Review.Rating" class="form-control">
                    <option value="">Select a rating</option>
                    <option value="1">1 star</option>
                    <option value="2">2 stars</option>
                    <option value="3">3 stars</option>
                    <option value="4">4 stars</option>
                    <option value="5">5 stars</option>
                </select>
                <span asp-validation-for="Review.Rating" class="text-danger"></span>
            </div>
             <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success mt-2" />
            </div>


        </form>
    </div>
</div>